<h1>Demo Article</h1>
<%= link_to("Add New Article ",'/demo_articles/new') %>
<table>
  <thead>
   <tr>
    <th class="table_heading">No.</th>
   
    <th class="table_heading">First Name</th>
    <th class="table_heading">Last Name</th>
    <th class="table_heading">Email</th>
    <th class="table_heading">Phone</th>
    <th class="table_heading">EmpId</th>
    <th class="table_heading">Gender</th>
    <th class="table_heading">Address</th>
    <th class="table_heading">DateOfBirth</th>
    <th class="table_heading">DateOfJoining</th>
    <th class="table_heading">Action</th>
  </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td class="table_data"><%= employee.id %></td> 
        <td class="table_data"><%= employee.firstName   %></td> 
        <td class="table_data"><%= employee.lastName  %></td> 
        <td class="table_data"><%= employee.email  %></td> 
        <td class="table_data"><%= employee.phone  %></td> 
        <td class="table_data"><%= employee.empId  %></td> 
        <td class="table_data"><%= employee.gender  %></td> 
        <td class="table_data"><%= employee.address  %></td> 
        <td class="table_data"><%= employee.dob  %></td> 
        <td class="table_data"><%= employee.doj  %></td> 
        <ul>
      </ul>
      
      </tr>

    <% end %>
 
  </tbody>
</table>

<br>