<h1>Persons List</h1>
<table>
  <thead>
   <tr>
    <th class="table_heading">No.</th>
   
    <th class="table_heading">First Name</th>
    <th class="table_heading">Last Name</th>
    <th class="table_heading">Email</th>
    <th class="table_heading">Phone</th>
    <th class="table_heading">Gender</th>
    <th class="table_heading">Address</th>
    <th class="table_heading">DateOfBirth</th>
  </tr>
  </thead>

  <tbody>
    <% @persons.each do |person| %>
      <tr>
        <td class="table_data"><%= person.id %></td> 
        <td class="table_data"><%= person.firstName   %></td> 
        <td class="table_data"><%= person.lastName  %></td> 
        <td class="table_data"><%= person.email  %></td> 
        <td class="table_data"><%= person.phone  %></td> 
        <td class="table_data"><%= person.gender  %></td> 
        <td class="table_data"><%= person.address  %></td> 
        <td class="table_data"><%= person.dob  %></td>  
        <ul>
      </ul>
      
      </tr>

    <% end %>
 
  </tbody>
</table>

<br>

