<div style="padding-left:550px">
<h1>Persons Form </h1>
<%= form_for(@person, :url => persons_new_path, :method => 'post') do |form| %>
  
    <% if @person.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@person.errors.count, "error") %> prohibited this article from being saved:</h2>

  <ul>
    <% @person.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>
    <%= form.text_field :firstName, placeholder: 'First Name' %></br>
    <%= form.text_field :lastName, placeholder: 'Last Name' %></br>
    <%= form.text_field :email, placeholder: 'Email' %></br>
    <%= form.text_field :email_confirmation , placeholder: 'Confirm Email' %></br>
    <%= form.text_field :phone, placeholder: 'phone' %></br>
    <%= form.text_field :gender, placeholder: 'Gender' %></br>  
    <%= form.text_field :address, placeholder: 'Address' %></br>
    <%= form.text_field :dob, placeholder: 'Date Of Birth' %></br> 
    <%= form.text_field :terms_of_service, placeholder: 'Terms Of Service' %></br> 
    <div style="padding-left:35px; margin-top:20px">   
    <%= form.submit %>
    </div>
  <% end %>
</div>